<!-- <button (click)="doNavigate()">
  LOAD
</button> -->
<!-- <router-outlet>
  
</router-outlet>  -->
<!-- src/app/app.component.html -->
<!-- <app-student-registration></app-student-registration>
<app-student-view></app-student-view> -->

<!-- app.component.html -->

<button (click)="toggleComponents()">
  {{showRegistration ? 'View Data' : 'Show Registration' }}
</button>


<div *ngIf="showRegistration">
<app-student-registration (studentRegistered)="refreshStudentView()"></app-student-registration>
</div>

<div *ngIf="!showRegistration">
<app-student-view></app-student-view>
</div>





